@charset "UTF-8";
@charset "UTF-8";
:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --grisclaro: #dfe9f3;

    --fuente-principal:3.8rem;
}
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Krub', sans-serif;
}

body{
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header{
	width: 100vw;
	height: 10rem;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

header .header--section-principal{
	position: relative;
	height: 6rem;
	display: flex;
	flex-direction: row;
	background-color: var(--oscuro);
}
header .header--logo{
	border-radius: 50%;
}
header .header--logo img{
	width: 8rem;
	height: 4rem;
	margin: 1rem 2rem;
}

header .header--title{
	width: 50%;
	height: 6rem;
	margin: .5rem auto;
	padding-left: 10rem;
	color: var(--blanco);
	font-size: 4rem;
	text-align: center;
}

header .header--menu{
	width: 30rem;
	height: 100%;
	justify-content: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;

}
header .header--menu a{
	width: 20rem;
	height: 3rem;
	margin-left: 3rem;
	color: var(--blanco);
	background-color:  #246355;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 1rem;
	font-size: 2rem;
	font-weight: bold;
	transition: all 1.5s;
}
header .header--menu a:hover{
	background-color: var(--blanco);
	color: var(--oscuro);
}

/*Estilos menu opciones*/
header .header--section-opciones{
	width: 100vw;
	height: 4rem;
	background-color: var(--gris);
}

.header--section-opciones .header--opciones-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header--section-opciones .header--opcion-item{
	height: 3rem;
	margin: 0 1rem;
	padding: 1rem;
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	color: var(--blanco);
}

